{% extends "layout.html" %}
{% block content %}
<body>
    <div class="header-container">
        <header>
            <input type="text" autocomplete="off" class="search-box" placeholder="Search for a city ...">
            <input class="celsius-btn" type="button" value="Celsiu">
            <input class="fahrenheit-btn" type="button" value="Fahrenheit">
        </header>
    </div>
        <div class="glass">
            <div class="container">
                <div class="card">
                    <div class="content">
                        <div class="location">
                            <div class="city">Kerkennah, TN</div>
                            <div class="date">tursday, 9 june 2062</div>
                            <div class="time">09:15</div>
                        </div>
                        <div class="current">
                            <div class="temp">27<span>°c</span></div>
                            <img class="icon" src="http://openweathermap.org/img/wn/10d@2x.png">
                            <div class="weather">Sunny</div>
                            <div class="hi-low">Max:32°c~Min:25°c</div>
                        </div>        
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="days1">
                            <div class="only-day">today</div>
                            <div class="precipitation">4%</div>
                            <img class="icon" src="http://openweathermap.org/img/wn/10d.png">
                            <div class="hi-low">23°/14°</div>
                        </div>

                        <div class="days2">
                            <div class="only-day">today</div>
                            <div class="precipitation">4%</div>
                            <img class="icon" src="http://openweathermap.org/img/wn/10d.png">
                            <div class="hi-low">23°/14°</div>
                        </div>

                        <div class="days3">
                            <div class="only-day">today</div>
                            <div class="precipitation">4%</div>
                            <img class="icon" src="http://openweathermap.org/img/wn/10d.png">
                            <div class="hi-low">23°/14°</div>
                        </div>

                        <div class="days4">
                            <div class="only-day">today</div>
                            <div class="precipitation">4%</div>
                            <img class="icon" src="http://openweathermap.org/img/wn/10d.png">
                            <div class="hi-low">23°/14°</div>
                        </div>

                        <div class="days5">
                            <div class="only-day">today</div>
                            <div class="precipitation">4%</div>
                            <img class="icon" src="http://openweathermap.org/img/wn/10d.png">
                            <div class="hi-low">23°/14°</div>
                        </div>

                        
                    </div>
                </div>
            </div>
            <div class="mini-container">
                <div class="mini-card1">
                    <div class="time">09:15</div>
                    <img class="icon" src="http://openweathermap.org/img/wn/10d.png">
                    <div class="temp">27<span>°c</span></div>
                </div>
                <div class="mini-card2">
                    <div class="time">09:15</div>
                    <img class="icon" src="http://openweathermap.org/img/wn/10d.png">
                    <div class="temp">27<span>°c</span></div>
                </div>
                <div class="mini-card3">
                    <div class="time">09:15</div>
                    <img class="icon" src="http://openweathermap.org/img/wn/10d.png">
                    <div class="temp">27<span>°c</span></div>
                </div>
                <div class="mini-card4">
                    <div class="time">09:15</div>
                    <img class="icon" src="http://openweathermap.org/img/wn/10d.png">
                    <div class="temp">27<span>°c</span></div>
                </div>
                <div class="mini-card5">
                    <div class="time">09:15</div>
                    <img class="icon" src="http://openweathermap.org/img/wn/10d.png">
                    <div class="temp">27<span>°c</span></div>
                </div>
                <div class="mini-card6">
                    <div class="time">09:15</div>
                    <img class="icon" src="http://openweathermap.org/img/wn/10d.png">
                    <div class="temp">27<span>°c</span></div>
                </div>
                <div class="mini-card7">
                    <div class="time">09:15</div>
                    <img class="icon" src="http://openweathermap.org/img/wn/10d.png">
                    <div class="temp">27<span>°c</span></div>
                </div>
                <div class="mini-card8">
                    <div class="time">09:15</div>
                    <img class="icon" src="http://openweathermap.org/img/wn/10d.png">
                    <div class="temp">27<span>°c</span></div>
                </div>
                
            </div>
        </div>
        <div class="circle1"></div>
        <div class="circle2"></div>
    <script src="main.js"></script>
</body>

{% endblock content %}

