{% extends "layout.html" %}
{% block content %}
<body>
    <div class="header-container">
        <header>
            <input type="text" autocomplete="off" class="search-box" placeholder="Search for a city ...">
            <input class="celsius-btn" type="button" value="Celsiu">
            <input class="fahrenheit-btn" type="button" value="Fahrenheit">
        </header>
    </div>
        <div class="glass">
            <div class="container">
                <div class="card">
                    <div class="content">
                        <div class="location">
                            <div class="city">Kerkennah, TN</div>
                            <div class="date">tursday, 9 june 2062</div>
                            <div class="time">09:15</div>
                        </div>
                        <div class="current">
                            <div class="temp">27<span>°c</span></div>
                            <img class="icon" src="http://openweathermap.org/img/wn/10d@2x.png">
                            <div class="we1ather">Sunny</div>
                            <div class="hi-low">Max:32°c~Min:25°c</div>
                        </div>        
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="days">

                        </div>
                    </div>
                </div>
            </div>
            <div class="mini-container">
                <div class="mini-card">
                    <div class="time">09:15</div>
                    <div class="icon"></div>
                    <div class="temp">27<span>°c</span></div>
                    <div class="hi-low"></div>
                </div>
                <div class="mini-card">
                    <div class="time">09:15</div>
                    <div class="icon"></div>
                    <div class="temp">27<span>°c</span></div>
                    <div class="hi-low"></div>
                </div>
                <div class="mini-card">
                    <div class="time">09:15</div>
                    <div class="icon"></div>
                    <div class="temp">27<span>°c</span></div>
                    <div class="hi-low"></div>
                </div>
                <div class="mini-card">
                    <div class="time">09:15</div>
                    <div class="icon"></div>
                    <div class="temp">27<span>°c</span></div>
                    <div class="hi-low"></div>
                </div>
                <div class="mini-card">
                    <div class="time">09:15</div>
                    <div class="icon"></div>
                    <div class="temp">27<span>°c</span></div>
                    <div class="hi-low"></div>
                </div>
                <div class="mini-card">
                    <div class="time">09:15</div>
                    <div class="icon"></div>
                    <div class="temp">27<span>°c</span></div>
                    <div class="hi-low"></div>
                </div>
                
            </div>
        </div>
        <div class="circle1"></div>
        <div class="circle2"></div>
    <script src="main.js"></script>
</body>

{% endblock content %}

